@tailwind base;
@tailwind components;
@tailwind utilities;

:root {  
  --teal: rgb(20 184 166);
  --blue: rgb(59 130 246);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
}

html {
  scroll-behavior: smooth;
}

@-moz-document url-prefix() { /* Disable scrollbar Firefox */
  html{
    scrollbar-width: none;
  }
}

body {
  margin: 0; /* remove default margin */
  scrollbar-width: none; /* Also needed to disable scrollbar Firefox */
  -ms-overflow-style: none;  /* Disable scrollbar IE 10+ */
  overflow-y: scroll;
}
body::-webkit-scrollbar {
width: 0px;
  background: transparent; /* Disable scrollbar Chrome/Safari/Webkit */
}

@layer components {
  .heroLinks {
    @apply h-8 ease-in duration-100 hover:scale-110 invert dark:invert-0;
  }
  
  .about-section {
    @apply flex-col mx-5 sm:min-h-[100vh];
  }

  .about-content {
    @apply flex flex-col sm:min-h-[calc(100vh-6rem)] md:flex-row justify-center items-center text-slate-800 dark:text-gray-400
  }

  .aboutLinks {
    @apply font-bold text-black dark:text-white hover:text-teal-600 hover:dark:text-teal-400;
  }

  .about-text-section {
    @apply flex-col text-xl sm:max-w-[50vw] md:max-w-[40vw] text-center md:text-left
  }

  .aboutPortrait {
    @apply rounded-full object-cover w-[90vw] h-[90vw] max-w-[300px] max-h-[300px] sm:max-w-none sm:max-h-none sm:min-h-[300px] sm:min-w-[300px] sm:w-[30vw] sm:h-[30vw] md:w-[25vw] md:h-[25vw] my-8 md:my-0 sm:ml-[5vw]
  }

  .navbar {
    @apply sticky z-40 bg-gray-200 dark:bg-black p-3 flex items-center justify-between drop-shadow-md
  }
  
  .animate-navbar-in {
    -webkit-animation: navbarFrames 300ms ease-out;
    -moz-animation: navbarFrames 300ms ease-out;
    animation: navbarFrames 300ms ease-out;
  }

  .animate-navbar-out {
    -webkit-animation: navbarFramesOut 300ms ease-out;
    -moz-animation: navbarFramesOut 300ms ease-out;
    animation: navbarFramesOut 300ms ease-out;
  }


  @keyframes navbarFrames {
    from { top: -80px; }
    to { top: 0; }
  }

  @keyframes navbarFramesOut {
    from { top: 0; }
    to { top: -80px; }
  }

  .navLinks {
    @apply hover:bg-gray-300 dark:hover:bg-gray-900 py-2 px-4 rounded ease-in duration-200 hidden sm:flex text-gray-900 dark:text-gray-300 hover:text-black dark:hover:text-white; 
  }

  .navLinkContainer {
    @apply flex items-center justify-center gap-2 text-white text-lg
  }

  .darkModeButton {
    @apply cursor-pointer p-2 pt-1 hover:bg-gray-800 dark:hover:bg-gray-900 rounded-full ease-in duration-200 invert dark:invert-0;
  }

  .burgerButton {
    @apply sm:hidden sticky top-0 z-50  cursor-pointer p-2 pt-1 hover:bg-gray-900 rounded-full ease-in duration-200 invert dark:invert-0;
  }

  .burgerMenu {
    @apply fixed h-full py-2 z-40 
  }

  .sidebar {
    @apply top-0 right-0 w-[65vw] bg-[#27beab] dark:bg-[#209c8c] p-10 pt-28 text-white fixed h-full ease-in-out duration-300 
  }

  .sidebarLinks {
    @apply flex items-center gap-5 text-2xl text-white mb-5
  }

  .clickOut {
    @apply w-screen h-screen
  }

  .roleText {
    @apply text-teal-600 dark:text-teal-400
  }

  .horizontalLine {
    @apply border-gray-400 dark:border-gray-700
  }
  
  .heroHeadings {
    @apply mt-4 dark:font-semibold
  }

  .heroContainer {
    @apply flex text-center sm:text-left flex-col md:flex-row mt-8 sm:mt-0 mx-5 justify-center items-center min-h-[calc(100vh-66px)]
  }

  .heroText {
    @apply text-6xl md:text-9xl font-bold pb-4 gradientText
  }

  .gradientText {
    @apply bg-clip-text text-transparent animate-gradient
  }

  .sectionHeading {
    @apply text-5xl md:text-[80px] font-bold gradientText mb-5 md:mb-10 text-center md:text-left
  }

  .strongText {
    @apply text-black dark:text-white
  }

  .returnToTopButton {
    @apply fixed z-50 right-[20px] bottom-[50px] sm:right-[40px] sm:bottom-[40px] cursor-pointer w-[75px] h-[75px] hover:scale-110 ease-in-out duration-100 animate-return-button
  }

  .animate-return-button {
    -webkit-animation: return-button 500ms forwards;
    -moz-animation: return-button 500ms forwards;
    animation: return-button 500ms forwards;
  }

  @keyframes return-button {
    from { bottom: 0vh; }
    to { bottom: 10vh; }
  }

  .animate-gradient {
    background: linear-gradient(
      to right,
      var(--teal),
      var(--blue),
      var(--violet),
      var(--pink),
      var(--teal)
    );
    background-size: 200%;
    -webkit-animation: animatedgradient 3s linear infinite;
    -moz-animation: animatedgradient 3s linear infinite;
    animation: animatedgradient 3s linear infinite;
  }
  
  @keyframes animatedgradient {
    0% {
      background-position: 0% center;
    }
    100% {
      background-position: -200% center;
    }
  }

  .footer {
    background: linear-gradient(
      40deg,
      var(--teal),
      var(--blue),
      var(--violet)
    );
    @apply w-screen pt-[50px] pb-[30px] dark:bg-zinc-800 flex justify-center items-center
  }

  .footer-icons {
    @apply flex flex-wrap gap-5 mx-[20vw] justify-center
  }

  .footer-icon {
    @apply h-[50px] w-[50px] invert-[95%] dark:invert-[10%] hover:scale-105 ease-in-out duration-150
  }

  .footer-text-h1 {
    @apply text-center text-[20px] mt-[20px] mb-[5px] text-[#e8e6e3] dark:text-black
  }

  .footer-text-p {
    @apply text-center text-[13px] text-zinc-300 dark:text-zinc-900
  }
}